Repository davipatricio/DenkyBot, changes with the labels that .github/labeler.yml gives for each.
All labels: package: bot, package: locales, package: logger, package: prisma, package: webserver, meta: apis, meta: dependencies, meta: database, meta: github, meta: tasks, meta: localization

.github/labeler.yml:

"package: bot":
  - packages/bot/**/*.ts

"package: locales":
  - packages/locales/**/*.ts

"package: logger":
  - packages/logger/**/*.ts

"package: prisma":
  - packages/prisma/**/*.ts

"package: webserver":
  - packages/webserver/**/*.ts

"meta: apis":
  - packages/bot/src/lib/apis/**/*.ts

"meta: dependencies":
  - packages/**/package.json
  - package.json
  - yarn.lock

"meta: database":
  - packages/prisma/providers/**
  - packages/bot/**/Database*.ts

"meta: github":
  - .github/**/*

"meta: tasks":
  - packages/bot/src/lib/tasks/*.ts

"meta: localization":
  - packages/locales/assets/**

feat: add delete & info subcommands
  packages/bot/src/commands/Utils/data/reminder.ts
  packages/bot/src/commands/Utils/remind.ts
Labels: package: bot

fix: duplicated mention
  packages/bot/src/helpers/Reminder.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat: add info subcommand
  packages/bot/src/commands/Utils/remind.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat: delete subcommand
  packages/bot/src/commands/Utils/remind.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

refactor(bot): use `Colors` object instead of strings
  packages/bot/src/commands/Configuration/_config_suggestions.ts
  packages/bot/src/commands/Information/_server_banner.ts
  packages/bot/src/commands/Information/_server_icon.ts
  packages/bot/src/commands/Information/_server_info.ts
  packages/bot/src/commands/Information/_user_avatar.ts
  packages/bot/src/commands/Information/_user_banner.ts
  packages/bot/src/commands/Information/_user_info.ts
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/bot/src/commands/Moderation/poll.ts
  packages/bot/src/commands/Utils/animal.ts
  packages/bot/src/commands/Utils/help.ts
  packages/bot/src/commands/Utils/suggestion.ts
  packages/bot/src/commands/Utils/wikipedia.ts
  packages/bot/src/events/guildCreate.ts
  packages/bot/src/events/guildDelete.ts
  packages/bot/src/events/interactionCreate.ts
  packages/bot/src/helpers/Giveaway.ts
  packages/logger/src/transporters/Webhook.ts
Labels: package: bot, package: logger

fix(bot): add missing variable
  packages/bot/src/commands/Information/_server_info.ts
Labels: package: bot

chore: rename data file
  packages/bot/src/commands/Utils/data/remind.ts
Labels: package: bot

feat: localize command data
  packages/bot/src/commands/Utils/data/remind.ts
  packages/bot/src/commands/Utils/remind.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

refactor: use `Colors` object instead of string
  packages/bot/src/commands/Utils/remind.ts
Labels: package: bot

refactor: fix raw command name
  packages/bot/src/commands/Utils/remind.ts
Labels: package: bot

feat: add initial code
  packages/bot/src/structures/CommandDataStructure.ts
Labels: package: bot

feat(bot): reminders (#134)
  packages/bot/package.json
  packages/bot/src/commands/Utils/data/remind.ts
  packages/bot/src/commands/Utils/remind.ts
  packages/bot/src/helpers/IdGenerator.ts
  packages/bot/src/helpers/Reminder.ts
  packages/bot/src/lib/managers/DatabaseManager.ts
  packages/bot/src/lib/tasks/reminder.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
  packages/prisma/providers/cockroachdb/migrations/20220720134739_reminders/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220720134701_reminders/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
  yarn.lock
Labels: package: bot, package: locales, meta: dependencies, meta: database, meta: tasks, meta: localization

refactor(bot): remove non-null assertion
  packages/bot/src/commands/Information/_server_banner.ts
  packages/bot/src/commands/Information/_server_icon.ts
  packages/bot/src/commands/Information/_server_info.ts
Labels: package: bot

add ban list sub command
  packages/bot/src/commands/Moderation/_ban_list.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

fix issues
  packages/bot/src/commands/Information/_server_banner.ts
  packages/bot/src/commands/Information/_server_icon.ts
  packages/bot/src/commands/Moderation/_ban_info.ts
  packages/bot/src/commands/Moderation/_ban_list.ts
Labels: package: bot

feat(bot): add /ban info, ban list and unban command (#110)
  packages/bot/src/commands/Information/_server_banner.ts
  packages/bot/src/commands/Information/_server_icon.ts
  packages/bot/src/commands/Information/_server_info.ts
  packages/bot/src/commands/Moderation/_ban_info.ts
  packages/bot/src/commands/Moderation/_ban_list.ts
  packages/bot/src/commands/Moderation/_ban_remove.ts
  packages/bot/src/commands/Moderation/_ban_user.ts
  packages/bot/src/commands/Moderation/ban.ts
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

fix(bot): commands with args not working
  packages/bot/src/structures/CommandDataStructure.ts
Labels: package: bot

feat: add method to parse subcommands
  packages/bot/src/structures/CommandDataStructure.ts
Labels: package: bot

lint
  packages/bot/src/structures/CommandDataStructure.ts
Labels: package: bot

refactor: use `module-alias` instead of `tsc-alias`
  package.json
  packages/bot/package.json
  packages/bot/src/Denky.ts
  packages/bot/src/lib/managers/LanguageManager.ts
  packages/bot/src/sharding/shard.ts
  packages/locales/package.json
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/webserver/package.json
  packages/webserver/src/index.ts
  yarn.lock
Labels: package: bot, package: logger, package: webserver, meta: dependencies

improve types
  packages/bot/src/structures/CommandDataStructure.ts
Labels: package: bot

migrate 'info' commands
  packages/bot/src/commands/Information/data/bot.ts
  packages/bot/src/commands/Information/data/server.ts
  packages/bot/src/commands/Information/data/user.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat: add support to ignore translation
  packages/bot/src/structures/CommandDataStructure.ts
Labels: package: bot

refactor: migrate all commands
  packages/bot/src/commands/Configuration/data/config.ts
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/data/kick.ts
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/data/mute.ts
  packages/bot/src/commands/Moderation/data/poll.ts
  packages/bot/src/commands/Text/data/text.ts
  packages/bot/src/commands/Utils/data/afk.ts
  packages/bot/src/commands/Utils/data/animal.ts
  packages/bot/src/commands/Utils/data/help.ts
  packages/bot/src/commands/Utils/data/ping.ts
  packages/bot/src/commands/Utils/data/suggestion.ts
  packages/bot/src/commands/Utils/data/wikipedia.ts
Labels: package: bot

feat(bot): reminders (#134)
  packages/bot/package.json
  packages/bot/src/commands/Utils/data/remind.ts
  packages/bot/src/commands/Utils/remind.ts
  packages/bot/src/helpers/IdGenerator.ts
  packages/bot/src/helpers/Reminder.ts
  packages/bot/src/lib/managers/DatabaseManager.ts
  packages/bot/src/lib/tasks/reminder.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
  packages/prisma/providers/cockroachdb/migrations/20220720134739_reminders/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220720134701_reminders/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
  yarn.lock
Labels: package: bot, package: locales, meta: dependencies, meta: database, meta: tasks, meta: localization

feat(bot): add /ban info, ban list and unban command (#110)
  packages/bot/src/commands/Information/_server_banner.ts
  packages/bot/src/commands/Information/_server_icon.ts
  packages/bot/src/commands/Information/_server_info.ts
  packages/bot/src/commands/Moderation/_ban_info.ts
  packages/bot/src/commands/Moderation/_ban_list.ts
  packages/bot/src/commands/Moderation/_ban_remove.ts
  packages/bot/src/commands/Moderation/_ban_user.ts
  packages/bot/src/commands/Moderation/ban.ts
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

refactor: use `module-alias` instead of `tsc-alias`
  package.json
  packages/bot/package.json
  packages/bot/src/Denky.ts
  packages/bot/src/lib/managers/LanguageManager.ts
  packages/bot/src/sharding/shard.ts
  packages/locales/package.json
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/webserver/package.json
  packages/webserver/src/index.ts
  yarn.lock
Labels: package: bot, package: logger, package: webserver, meta: dependencies

refactor: simplify command data (#139)
  packages/bot/src/commands/Configuration/data/config.ts
  packages/bot/src/commands/Information/data/bot.ts
  packages/bot/src/commands/Information/data/server.ts
  packages/bot/src/commands/Information/data/user.ts
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/data/kick.ts
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/data/mute.ts
  packages/bot/src/commands/Moderation/data/poll.ts
  packages/bot/src/commands/Text/data/text.ts
  packages/bot/src/commands/Utils/data/afk.ts
  packages/bot/src/commands/Utils/data/animal.ts
  packages/bot/src/commands/Utils/data/help.ts
  packages/bot/src/commands/Utils/data/ping.ts
  packages/bot/src/commands/Utils/data/suggestion.ts
  packages/bot/src/commands/Utils/data/wikipedia.ts
  packages/bot/src/structures/CommandDataStructure.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

chore(bot): fix module aliases path
  packages/bot/package.json
Labels: meta: dependencies

chore: remove empty yarn lock scripts
  packages/bot/package.json
  packages/bot/scripts/copyEnv.js
  packages/bot/scripts/emptyYarnLock.js
  packages/locales/package.json
  packages/locales/scripts/emptyYarnLock.js
  packages/logger/package.json
  packages/logger/scripts/emptyYarnLock.js
  packages/webserver/package.json
  packages/webserver/scripts/emptyYarnLock.js
Labels: meta: dependencies

chore: recommend using `npm run`
  README.md
Labels: none

fix: improve path alias handling
  packages/bot/src/Denky.ts
  packages/bot/src/sharding/shard.ts
  packages/logger/src/index.ts
  packages/webserver/src/index.ts
Labels: package: bot, package: logger, package: webserver

types(bot): use path alias
  packages/bot/src/types/Client.ts
Labels: package: bot

chore(bot): add missing module alias
  packages/bot/package.json
  packages/logger/package.json
  packages/webserver/package.json
Labels: meta: dependencies

feat: re-add missing post:build scripts
  packages/logger/package.json
  packages/logger/scripts/copyEnv.js
  packages/prisma/package.json
  packages/prisma/scripts/copyEnv.js
Labels: meta: dependencies

fix(bot): wikipedia command not being posted
  packages/locales/assets/commandNames/en_US/index.ts
Labels: package: locales, meta: localization

fix(bot): dont remove args from descriptions
  packages/bot/src/structures/CommandDataStructure.ts
Labels: package: bot

fix(bot): wrong descriptions being set
  packages/bot/src/structures/CommandDataStructure.ts
Labels: package: bot

add initial code
  packages/bot/src/commands/Configuration/data/config.ts
  packages/bot/src/commands/Information/data/bot.ts
  packages/bot/src/commands/Information/data/server.ts
  packages/bot/src/commands/Information/data/user.ts
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/data/kick.ts
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/data/mute.ts
  packages/bot/src/commands/Moderation/data/poll.ts
  packages/bot/src/commands/Text/data/text.ts
  packages/bot/src/commands/Utils/data/afk.ts
  packages/bot/src/commands/Utils/data/animal.ts
  packages/bot/src/commands/Utils/data/help.ts
  packages/bot/src/commands/Utils/data/ping.ts
  packages/bot/src/commands/Utils/data/remind.ts
  packages/bot/src/commands/Utils/data/suggestion.ts
  packages/bot/src/commands/Utils/data/wikipedia.ts
  packages/bot/src/events/ready.ts
  packages/bot/src/structures/CommandDataStructure.ts
Labels: package: bot

remove id translations
  packages/bot/src/commands/Utils/data/suggestion.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization
