Repository davipatricio/DenkyBot, changes with the labels that .github/labeler.yml gives for each.
All labels: package: bot, package: locales, package: logger, package: prisma, package: webserver, meta: apis, meta: dependencies, meta: database, meta: github, meta: tasks, meta: localization

feat(bot): add require permission
  packages/bot/src/commands/Moderation/data/giveaway.ts
Labels: package: bot

feat(bot): localize giveaway command
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat: add a base command data
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

refactor: use ban archive to get sub commands
  packages/bot/src/commands/Moderation/ban.ts
Labels: package: bot

refactor: transform ban command to sub command
  packages/bot/src/commands/Moderation/_ban_user.ts
Labels: package: bot

fix locales
  packages/bot/src/commands/Moderation/_ban_user.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat: add ban info sub command
  packages/bot/src/commands/Moderation/_ban_info.ts
  packages/bot/src/commands/Moderation/_ban_user.ts
  packages/bot/src/commands/Moderation/ban.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat: add autocomplete handler
  packages/bot/src/events/interactionCreate.ts
  packages/bot/src/structures/Command.ts
Labels: package: bot

feat: add autocomplete handler
  packages/bot/src/events/interactionCreate.ts
  packages/bot/src/structures/Command.ts
Labels: package: bot

feat(bot): localize giveaway command
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

fix(bot): add missing giveaway migration
  packages/prisma/providers/postgresql/migrations/20220714103110_giveaways/migration.sql
Labels: meta: database

feat(bot): add channel option to giveaway
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

refactor(bot): localize created message
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

refactor(bot): improve error messages
  packages/bot/src/commands/Moderation/giveaway.ts
Labels: package: bot

fix(bot): giveaway deletion
  packages/bot/src/helpers/Giveaway.ts
Labels: package: bot

fix(bot): localize suggestion cooldown placeholder
  packages/bot/src/commands/Configuration/_config_suggestions.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

chore(locales): add path aliases to `tsconfig.json`
  packages/locales/tsconfig.json
Labels: none

chore(logger): add path aliases to `tsconfig.json`
  packages/logger/tsconfig.json
Labels: none

chore(webserver): add path aliases to `tsconfig.json`
  packages/webserver/tsconfig.json
Labels: none

refactor(logger): use path aliases
  packages/logger/src/index.ts
Labels: package: logger

refactor(webserver): use path aliases
  packages/webserver/src/index.ts
Labels: package: webserver

[CodeFactor] Apply fixes to commit 3ba125d
  packages/bot/src/commands/Utils/suggestion.ts
Labels: package: bot

fix(bot): move `@ts-ignore` comment above import
  packages/bot/src/helpers/Locale.ts
Labels: package: bot

feat: add localizations in helper
  packages/bot/src/helpers/Giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

fix issues
  packages/bot/src/helpers/Giveaway.ts
Labels: package: bot

[CodeFactor] Apply fixes
  packages/bot/src/commands/Utils/suggestion.ts
Labels: package: bot

chore(github): fix ESLint reports
  .github/workflows/test.yml
  .gitignore
Labels: meta: github

chore(eslint): enable `no-use-before-define`, `no-bitwise`
  .eslintrc.json
  packages/bot/src/structures/Command.ts
Labels: package: bot

refactor(bot): use `Suggestion` type instead of any
  packages/bot/src/commands/Utils/suggestion.ts
Labels: package: bot

chore(github): cache ESLint runs
  .github/workflows/test.yml
Labels: meta: github

chore(github): add more paths to test
  .github/workflows/test.yml
Labels: meta: github

fix(bot): readd removed locales
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: locales, meta: localization

chore(github): remove trailing spaces
  .github/workflows/test.yml
Labels: meta: github

refactor(bot): spread categories on suggestion
  packages/bot/src/commands/Configuration/_config_suggestions.ts
Labels: package: bot

fix(bot): dont sort large arrays
  packages/bot/src/helpers/Giveaway.ts
Labels: package: bot

feat(bot): announce winners
  packages/bot/src/helpers/Giveaway.ts
Labels: package: bot

chore(github): remove duplicated checkout action
  .github/workflows/test.yml
Labels: meta: github

Update Command.ts
  packages/bot/src/structures/Command.ts
Labels: package: bot

Update Command.ts
  packages/bot/src/structures/Command.ts
Labels: package: bot

change command name, fix perms
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

.github/labeler.yml:

"package: bot":
  - packages/bot/**/*.ts

"package: locales":
  - packages/locales/**/*.ts

"package: logger":
  - packages/logger/**/*.ts

"package: prisma":
  - packages/prisma/**/*.ts

"package: webserver":
  - packages/webserver/**/*.ts

"meta: apis":
  - packages/bot/src/lib/apis/**/*.ts

"meta: dependencies":
  - packages/**/package.json
  - package.json
  - yarn.lock

"meta: database":
  - packages/prisma/providers/**
  - packages/bot/**/Database*.ts

"meta: github":
  - .github/**/*

"meta: tasks":
  - packages/bot/src/lib/tasks/*.ts

"meta: localization":
  - packages/locales/assets/**
