Repository davipatricio/DenkyBot, changes with the labels that .github/labeler.yml gives for each.
All labels: package: bot, package: locales, package: logger, package: prisma, package: webserver, meta: apis, meta: dependencies, meta: database, meta: github, meta: tasks, meta: localization

.github/labeler.yml:

"package: bot":
  - packages/bot/**/*.ts

"package: locales":
  - packages/locales/**/*.ts

"package: logger":
  - packages/logger/**/*.ts

"package: prisma":
  - packages/prisma/**/*.ts

"package: webserver":
  - packages/webserver/**/*.ts

"meta: apis":
  - packages/bot/src/lib/apis/**/*.ts

"meta: dependencies":
  - packages/**/package.json
  - package.json
  - yarn.lock

"meta: database":
  - packages/prisma/providers/**
  - packages/bot/**/Database*.ts

"meta: github":
  - .github/**/*

"meta: tasks":
  - packages/bot/src/lib/tasks/*.ts

"meta: localization":
  - packages/locales/assets/**

chore: add empty `yarn.lock` into workspaces
  packages/bot/tsconfig.json
  packages/bot/yarn.lock
  packages/locales/tsconfig.json
  packages/locales/yarn.lock
  packages/logger/tsconfig.json
  packages/logger/yarn.lock
  packages/prisma/tsconfig.json
  packages/prisma/yarn.lock
  packages/webserver/tsconfig.json
  packages/webserver/yarn.lock
Labels: none

Revert "chore: add empty yarn.lock into workspaces"
  packages/bot/tsconfig.json
  packages/bot/yarn.lock
  packages/locales/tsconfig.json
  packages/locales/yarn.lock
  packages/logger/tsconfig.json
  packages/logger/yarn.lock
  packages/prisma/tsconfig.json
  packages/prisma/yarn.lock
  packages/webserver/tsconfig.json
  packages/webserver/yarn.lock
Labels: none

chore: add missing run postbuild
  package.json
Labels: meta: dependencies

chore: create empty `yarn.lock` after building
  packages/bot/package.json
  packages/bot/scripts/emptyYarnLock.js
  packages/locales/package.json
  packages/locales/scripts/emptyYarnLock.js
  packages/logger/package.json
  packages/logger/scripts/emptyYarnLock.js
  packages/webserver/package.json
  packages/webserver/scripts/emptyYarnLock.js
Labels: meta: dependencies

chore: enable typescript caching
  .gitignore
  package.json
  packages/bot/package.json
  packages/bot/tsconfig.json
  packages/locales/package.json
  packages/locales/tsconfig.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/prisma/tsconfig.json
  packages/webserver/package.json
  packages/webserver/tsconfig.json
  tsconfig.json
Labels: meta: dependencies

chore: remove modules & ESLint cache
  .github/workflows/test.yml
  packages/bot/package.json
  packages/locales/package.json
  packages/logger/package.json
  packages/webserver/package.json
Labels: meta: dependencies, meta: github

chore(github): remove unused step
  .github/workflows/test.yml
Labels: meta: github

fix(bot): use path aliases where possible
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/bot/src/events/interactionCreate.ts
  packages/bot/src/events/messageCreate.ts
  packages/bot/src/lib/managers/DatabaseManager.ts
Labels: package: bot, meta: database

chore: fix actions?
  .github/workflows/test.yml
Labels: meta: github

chore: add `.github/workflows` to path
  .github/workflows/test.yml
Labels: meta: github

chore: use `yarn install`
  .github/workflows/test.yml
Labels: meta: github

idk fix again?
  .github/workflows/test.yml
  package.json
Labels: meta: dependencies, meta: github

remove extends
  .github/workflows/test.yml
  packages/bot/.eslintrc.json
Labels: meta: github

cache dependencies
  .github/workflows/test.yml
Labels: meta: github

chore: remove the use of npx
  packages/bot/package.json
  packages/locales/package.json
  packages/logger/package.json
  packages/prisma/package.json
  packages/webserver/package.json
Labels: meta: dependencies

remove prisma cache, remove prisma from devDeps, fix CI
  .github/workflows/test.yml
  .yarnrc.yml
  package.json
  packages/bot/.env.example
  packages/bot/config.example.json
  packages/bot/package.json
  packages/bot/src/lib/managers/DatabaseManager.ts
  packages/bot/src/lib/modules/Database.ts
  packages/prisma/package.json
  yarn.lock
Labels: package: bot, meta: dependencies, meta: database, meta: github

chore: update yarn.lock
  yarn.lock
Labels: meta: dependencies

chore: update prisma
  package.json
  packages/bot/package.json
  packages/prisma/package.json
  yarn.lock
Labels: meta: dependencies

refactor: cleanup, fix CI (#129)
  .github/workflows/test.yml
  .yarnrc.yml
  package.json
  packages/bot/.env.example
  packages/bot/.eslintrc.json
  packages/bot/config.example.json
  packages/bot/package.json
  packages/bot/src/lib/managers/DatabaseManager.ts
  packages/bot/src/lib/modules/Database.ts
  packages/locales/package.json
  packages/logger/package.json
  packages/prisma/package.json
  packages/webserver/package.json
  yarn.lock
Labels: package: bot, meta: dependencies, meta: database, meta: github

add ban remove sub command
  packages/bot/src/commands/Moderation/_ban_remove.ts
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

fix issues
  packages/bot/src/commands/Moderation/_ban_info.ts
  packages/bot/src/commands/Moderation/ban.ts
Labels: package: bot

Added a bot emoji in the title
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: locales, meta: localization

Added a bot emoji in the title (#130)
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: locales, meta: localization

chore(github): fix auto assign
  .github/workflows/pr-automation.yml
Labels: meta: github

chore(github): fix auto-assign again
  .github/workflows/pr-automation.yml
Labels: meta: github

feat(prisma): add schemas
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

feat(bot): add database reminder methods
  packages/bot/src/lib/managers/DatabaseManager.ts
Labels: package: bot, meta: database

chore: enable renovate automerge
  renovate.json
Labels: none

chore: remove devskim action
  .github/workflows/devskim.yml
Labels: meta: github

chore(prisma): remove guildId field
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

feat: add method to generate ids
  packages/bot/package.json
  packages/bot/src/helpers/IdGenerator.ts
  yarn.lock
Labels: package: bot, meta: dependencies

feat(bot): add base remind command
  packages/bot/src/commands/Utils/data/reminder.ts
  packages/bot/src/commands/Utils/reminder.ts
Labels: package: bot

add helper to check for reminders
  packages/bot/src/helpers/Reminder.ts
Labels: package: bot

add task to check for reminders
  packages/bot/src/lib/tasks/reminder.ts
Labels: package: bot, meta: tasks

rename command
  packages/bot/src/commands/Utils/remind.ts
Labels: package: bot

add migrations
  packages/prisma/providers/cockroachdb/migrations/20220720134739_reminders/migration.sql
  packages/prisma/providers/postgresql/migrations/20220720134701_reminders/migration.sql
Labels: meta: database

fix(bot): stop giveaway task instead of ignoring it
  packages/bot/src/lib/tasks/giveaway.ts
Labels: package: bot, meta: tasks

fix(bot): stop unlockdown task instead of ignoring it
  packages/bot/src/lib/tasks/unlockdown.ts
Labels: package: bot, meta: tasks

refactor: localize reminder helper
  packages/bot/src/helpers/Reminder.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

refactor: localize command
  packages/bot/src/commands/Utils/remind.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization
