Repository davipatricio/DenkyBot, changes with the labels that .github/labeler.yml gives for each.
All labels: package: bot, package: locales, package: logger, package: prisma, package: webserver, meta: apis, meta: dependencies, meta: database, meta: github, meta: tasks, meta: localization

refactor(bot): remove `startTime` from lockdown
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/prisma/providers/cockroachdb/migrations/20220717211030_lockdown/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220717211016_lockdown/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, meta: database

feat(bot): localize lockdown data
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

fix(bot): rename options
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot

feat(bot): localize lockdown command
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(bot): lockdown command (#118)
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/bot/src/lib/managers/DatabaseManager.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
  packages/prisma/providers/cockroachdb/migrations/20220717211030_lockdown/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220717211016_lockdown/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, package: locales, meta: database, meta: localization

chore(prisma): remove all migrations
  packages/prisma/providers/cockroachdb/migrations/20220717211030_lockdown/migration.sql
  packages/prisma/providers/cockroachdb/migrations/20220717211423_afk_bigints/migration.sql
  packages/prisma/providers/cockroachdb/migrations/migration_lock.toml
  packages/prisma/providers/postgresql/migrations/20220713032042_notices/migration.sql
  packages/prisma/providers/postgresql/migrations/20220714103110_giveaways/migration.sql
  packages/prisma/providers/postgresql/migrations/20220717211016_lockdown/migration.sql
  packages/prisma/providers/postgresql/migrations/20220717211357_afk_bigints/migration.sql
  packages/prisma/providers/postgresql/migrations/migration_lock.toml
Labels: meta: database

feat(prisma): store timestamp as ints
  packages/prisma/providers/cockroachdb/migrations/20220718153920_first_migration/migration.sql
  packages/prisma/providers/cockroachdb/migrations/migration_lock.toml
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220718153851_first_migration/migration.sql
  packages/prisma/providers/postgresql/migrations/migration_lock.toml
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

types(bot): remove bigints
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/bot/src/commands/Utils/afk.ts
Labels: package: bot

types(locales): remove bigints
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: locales, meta: localization

add reason option in ban remove sub command
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(prisma): unlockdown schedule
  packages/prisma/providers/cockroachdb/migrations/20220718231857_unlockdown_sched/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220718231723_unlockdown_sched/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

feat(bot): add unlockdown helper
  packages/bot/src/helpers/Unlockdown.ts
Labels: package: bot

feat(bot): add unlockdown task
  packages/bot/src/lib/tasks/unlockdown.ts
Labels: package: bot, meta: tasks

feat(bot): add unlockdown scheduling
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot

feat(bot): add helper to check for ended unlockdowns
  packages/bot/src/helpers/Unlockdown.ts
Labels: package: bot

feat(bot): add task to check for ended unlockdowns
  packages/bot/src/lib/tasks/unlockdown.ts
Labels: package: bot, meta: tasks

feat(bot): localize command, delete unlockdowns
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

[CodeFactor] Apply fixes to commit 40075b1
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: locales, meta: localization

feat(bot): localize command
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

remove console.logs
  packages/bot/src/helpers/Unlockdown.ts
Labels: package: bot

fix(github): auto assign not working
  .github/workflows/labeler.yml
  .github/workflows/pr-automation.yml
Labels: meta: github

feat: unlockdown schedule (#125)
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/bot/src/helpers/Unlockdown.ts
  packages/bot/src/lib/tasks/unlockdown.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
  packages/prisma/providers/cockroachdb/migrations/20220718231857_unlockdown_sched/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220718231723_unlockdown_sched/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, package: locales, meta: database, meta: tasks, meta: localization

feat(prisma): store timestamps as bigints
  packages/prisma/providers/cockroachdb/migrations/20220719015024_timestamps_as_bigints/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220719015343_timestamps_as_bigints/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

feat(bot): store timestamps as bigints
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/bot/src/commands/Utils/afk.ts
Labels: package: bot

types(locales): use bigints instead of number
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: locales, meta: localization

chore: remove turborepo
  package.json
  packages/locales/package.json
  packages/prisma/package.json
  turbo.json
Labels: meta: dependencies

chore: update yarn
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  yarn.lock
Labels: meta: dependencies

chore: add .yarn files into .gitignore
  .gitignore
Labels: none

chore: remove turbo cache
  .github/workflows/test.yml
Labels: meta: github

chore: remove turbo cache from gitignore
  .gitignore
Labels: none

chore(github): add devskim action
  .github/workflows/devskim.yml
Labels: meta: github

chore: use canary yarn version
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-4.0.0-rc.13.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: meta: dependencies

chore: rename package name
  package.json
Labels: meta: dependencies

chore: pin dependencies
  packages/bot/package.json
  packages/locales/package.json
  packages/logger/package.json
  packages/prisma/package.json
  packages/webserver/package.json
Labels: meta: dependencies

chore: update yarn.lock
  .yarnrc
  yarn.lock
Labels: meta: dependencies

chore: fix yarn scripts
  package.json
Labels: meta: dependencies

chore: fix prisma script
  package.json
Labels: meta: dependencies

chore: ignore optional packages
  .github/workflows/test.yml
Labels: meta: github

chore: remove turborepo (#126)
  .github/workflows/test.yml
  .gitignore
  .yarn/releases/yarn-4.0.0-rc.13.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  packages/bot/package.json
  packages/locales/package.json
  packages/logger/package.json
  packages/prisma/package.json
  packages/webserver/package.json
  turbo.json
  yarn.lock
Labels: meta: dependencies, meta: github

chore(github): fix actions
  .github/workflows/test.yml
Labels: meta: github

.github/labeler.yml:

"package: bot":
  - packages/bot/**/*.ts

"package: locales":
  - packages/locales/**/*.ts

"package: logger":
  - packages/logger/**/*.ts

"package: prisma":
  - packages/prisma/**/*.ts

"package: webserver":
  - packages/webserver/**/*.ts

"meta: apis":
  - packages/bot/src/lib/apis/**/*.ts

"meta: dependencies":
  - packages/**/package.json
  - package.json
  - yarn.lock

"meta: database":
  - packages/prisma/providers/**
  - packages/bot/**/Database*.ts

"meta: github":
  - .github/**/*

"meta: tasks":
  - packages/bot/src/lib/tasks/*.ts

"meta: localization":
  - packages/locales/assets/**
