Repository davipatricio/DenkyBot, changes with the labels that .github/labeler.yml gives for each.
All labels: package: bot, package: locales, package: logger, package: prisma, package: webserver, meta: apis, meta: dependencies, meta: database, meta: github, meta: tasks, meta: localization

adapt wikipedia command
  packages/bot/src/commands/Utils/data/wikipedia.ts
Labels: package: bot

Update README.md
  README.md
Labels: none

more changes
  packages/bot/src/commands/Configuration/data/config.ts
  packages/bot/src/commands/Information/data/bot.ts
  packages/bot/src/commands/Information/data/server.ts
  packages/bot/src/commands/Information/data/user.ts
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/data/kick.ts
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/data/mute.ts
  packages/bot/src/commands/Moderation/data/poll.ts
  packages/bot/src/commands/Text/data/text.ts
  packages/bot/src/commands/Utils/animal.ts
  packages/bot/src/commands/Utils/data/afk.ts
  packages/bot/src/commands/Utils/data/animal.ts
  packages/bot/src/commands/Utils/data/help.ts
  packages/bot/src/commands/Utils/data/ping.ts
  packages/bot/src/commands/Utils/data/remind.ts
  packages/bot/src/commands/Utils/data/suggestion.ts
  packages/bot/src/commands/Utils/data/wikipedia.ts
  packages/bot/src/lib/apis/animals.ts
  packages/bot/src/structures/CommandDataStructure.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: apis, meta: localization

update poll
  packages/bot/src/commands/Moderation/data/poll.ts
Labels: package: bot

update lockdown
  packages/bot/src/commands/Moderation/data/lockdown.ts
Labels: package: bot

update kick
  packages/bot/src/commands/Moderation/data/kick.ts
Labels: package: bot

update ban
  packages/bot/src/commands/Moderation/data/ban.ts
Labels: package: bot

update mute
  packages/bot/src/commands/Moderation/data/mute.ts
Labels: package: bot

update giveaway
  packages/bot/src/commands/Moderation/data/giveaway.ts
Labels: package: bot

remove unused types
  packages/bot/src/events/ready.ts
Labels: package: bot

use 'info' instead of 'informação'
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: locales, meta: localization

fix locales
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: locales, meta: localization

improve types & fix command posting
  packages/bot/src/events/ready.ts
  packages/bot/src/lib/utils/Initializer.ts
  packages/bot/src/structures/Command.ts
  packages/bot/src/structures/CommandDataStructure.ts
Labels: package: bot

improve command names
  packages/bot/src/commands/Text/data/text.ts
  packages/bot/src/commands/Utils/data/suggestion.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

fix suggestion help
  packages/bot/src/commands/Utils/data/suggestion.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

refactor: command data using `ApplicationCommand` (#149)
  packages/bot/src/commands/Configuration/data/config.ts
  packages/bot/src/commands/Information/data/bot.ts
  packages/bot/src/commands/Information/data/server.ts
  packages/bot/src/commands/Information/data/user.ts
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/data/kick.ts
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/data/mute.ts
  packages/bot/src/commands/Moderation/data/poll.ts
  packages/bot/src/commands/Text/data/text.ts
  packages/bot/src/commands/Utils/animal.ts
  packages/bot/src/commands/Utils/data/afk.ts
  packages/bot/src/commands/Utils/data/animal.ts
  packages/bot/src/commands/Utils/data/help.ts
  packages/bot/src/commands/Utils/data/ping.ts
  packages/bot/src/commands/Utils/data/remind.ts
  packages/bot/src/commands/Utils/data/suggestion.ts
  packages/bot/src/commands/Utils/data/wikipedia.ts
  packages/bot/src/events/ready.ts
  packages/bot/src/lib/apis/animals.ts
  packages/bot/src/lib/utils/Initializer.ts
  packages/bot/src/structures/Command.ts
  packages/bot/src/structures/CommandDataStructure.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: apis, meta: localization

feat(prisma): add models
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

feat: subcommand folder
  packages/bot/package.json
  packages/bot/src/commands/Configuration/subcommands/_config_suggestions.ts
  packages/bot/src/commands/Information/subcommands/_bot_invite.ts
  packages/bot/src/commands/Information/subcommands/_bot_vote.ts
  packages/bot/src/commands/Information/subcommands/_server_banner.ts
  packages/bot/src/commands/Information/subcommands/_server_icon.ts
  packages/bot/src/commands/Information/subcommands/_server_info.ts
  packages/bot/src/commands/Information/subcommands/_user_avatar.ts
  packages/bot/src/commands/Information/subcommands/_user_banner.ts
  packages/bot/src/commands/Information/subcommands/_user_info.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_info.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_list.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_remove.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_user.ts
  packages/bot/src/commands/Text/subcommands/_text_claps.ts
  packages/bot/src/commands/Text/subcommands/_text_emojify.ts
  packages/bot/src/commands/Text/subcommands/_text_invert.ts
  packages/bot/src/commands/Text/subcommands/_text_vaporwave.ts
  packages/bot/src/lib/utils/Initializer.ts
  yarn.lock
Labels: package: bot, meta: dependencies

feat(bot): split reminder command into subcommands
  packages/bot/src/commands/Utils/remind.ts
  packages/bot/src/commands/Utils/subcommands/_remind_create.ts
  packages/bot/src/commands/Utils/subcommands/_remind_delete.ts
  packages/bot/src/commands/Utils/subcommands/_remind_info.ts
  packages/bot/src/commands/Utils/suggestion.ts
Labels: package: bot

refactor: split afk into subcommands
  packages/bot/src/commands/Utils/afk.ts
  packages/bot/src/commands/Utils/subcommands/_afk_off.ts
  packages/bot/src/commands/Utils/subcommands/_afk_on.ts
  packages/bot/src/commands/Utils/subcommands/_remind_create.ts
  packages/bot/src/commands/Utils/subcommands/_remind_delete.ts
  packages/bot/src/commands/Utils/subcommands/_remind_info.ts
Labels: package: bot

feat(bot): handle unknown language wikipedia errors
  packages/bot/src/commands/Utils/wikipedia.ts
Labels: package: bot

refactor: create structure for subcommands
  packages/bot/src/commands/Configuration/subcommands/_config_suggestions.ts
  packages/bot/src/commands/Information/subcommands/_bot_invite.ts
  packages/bot/src/commands/Information/subcommands/_bot_vote.ts
  packages/bot/src/commands/Information/subcommands/_server_banner.ts
  packages/bot/src/commands/Information/subcommands/_server_icon.ts
  packages/bot/src/commands/Information/subcommands/_server_info.ts
  packages/bot/src/commands/Information/subcommands/_user_avatar.ts
  packages/bot/src/commands/Information/subcommands/_user_banner.ts
  packages/bot/src/commands/Information/subcommands/_user_info.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_info.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_list.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_remove.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_user.ts
  packages/bot/src/commands/Text/subcommands/_text_claps.ts
  packages/bot/src/commands/Text/subcommands/_text_emojify.ts
  packages/bot/src/commands/Text/subcommands/_text_invert.ts
  packages/bot/src/commands/Text/subcommands/_text_vaporwave.ts
  packages/bot/src/commands/Utils/subcommands/_afk_off.ts
  packages/bot/src/commands/Utils/subcommands/_afk_on.ts
  packages/bot/src/commands/Utils/subcommands/_remind_create.ts
  packages/bot/src/commands/Utils/subcommands/_remind_delete.ts
  packages/bot/src/commands/Utils/subcommands/_remind_info.ts
  packages/bot/src/structures/SubCommand.ts
Labels: package: bot

feat: subcommand folder
  yarn.lock
Labels: meta: dependencies

fix yarn
  yarn.lock
Labels: meta: dependencies

feat: subcommand folder (#153)
  packages/bot/package.json
  packages/bot/src/commands/Configuration/subcommands/_config_suggestions.ts
  packages/bot/src/commands/Information/_bot_invite.ts
  packages/bot/src/commands/Information/_bot_vote.ts
  packages/bot/src/commands/Information/subcommands/_bot_invite.ts
  packages/bot/src/commands/Information/subcommands/_bot_vote.ts
  packages/bot/src/commands/Information/subcommands/_server_banner.ts
  packages/bot/src/commands/Information/subcommands/_server_icon.ts
  packages/bot/src/commands/Information/subcommands/_server_info.ts
  packages/bot/src/commands/Information/subcommands/_user_avatar.ts
  packages/bot/src/commands/Information/subcommands/_user_banner.ts
  packages/bot/src/commands/Information/subcommands/_user_info.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_info.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_list.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_remove.ts
  packages/bot/src/commands/Moderation/subcommands/_ban_user.ts
  packages/bot/src/commands/Text/_text_claps.ts
  packages/bot/src/commands/Text/_text_invert.ts
  packages/bot/src/commands/Text/_text_vaporwave.ts
  packages/bot/src/commands/Text/subcommands/_text_claps.ts
  packages/bot/src/commands/Text/subcommands/_text_emojify.ts
  packages/bot/src/commands/Text/subcommands/_text_invert.ts
  packages/bot/src/commands/Text/subcommands/_text_vaporwave.ts
  packages/bot/src/commands/Utils/afk.ts
  packages/bot/src/commands/Utils/remind.ts
  packages/bot/src/commands/Utils/subcommands/_afk_off.ts
  packages/bot/src/commands/Utils/subcommands/_afk_on.ts
  packages/bot/src/commands/Utils/subcommands/_remind_create.ts
  packages/bot/src/commands/Utils/subcommands/_remind_delete.ts
  packages/bot/src/commands/Utils/subcommands/_remind_info.ts
  packages/bot/src/commands/Utils/suggestion.ts
  packages/bot/src/lib/utils/Initializer.ts
  packages/bot/src/structures/SubCommand.ts
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/schema.prisma
  yarn.lock
Labels: package: bot, meta: dependencies, meta: database

feat: initial api code
  .yarnrc.yml
  packages/webserver/src/index.ts
  yarn.lock
Labels: package: webserver, meta: dependencies

refactor: improve config file
  packages/bot/config.example.json
  packages/bot/src/lib/utils/Initializer.ts
Labels: package: bot

fix(bot): sub commands beign posted
  packages/bot/src/events/ready.ts
  packages/bot/src/lib/utils/Initializer.ts
  packages/bot/src/structures/Command.ts
Labels: package: bot

Update ready.ts
  packages/bot/src/events/ready.ts
Labels: package: bot

feat(bot): API (#162)
  .yarnrc.yml
  packages/bot/config.example.json
  packages/bot/src/lib/utils/Initializer.ts
  packages/webserver/src/index.ts
  yarn.lock
Labels: package: bot, package: webserver, meta: dependencies

fix: api cors
  packages/webserver/package.json
  packages/webserver/src/index.ts
  yarn.lock
Labels: package: webserver, meta: dependencies

more progress on command
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/bot/src/commands/Moderation/data/buttonrole.ts
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, meta: database

feat: initial code of buttonroles
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, meta: database

add label option
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/bot/src/commands/Moderation/data/buttonrole.ts
Labels: package: bot

fix eslint
  .eslintrc.json
Labels: none

add checks
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

add more checks
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

fix command post
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/bot/src/commands/Moderation/data/buttonrole.ts
Labels: package: bot

update schema & add migration
  packages/prisma/providers/postgresql/migrations/20220818221224_buttonroles/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

start storing button roles
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

.github/labeler.yml:

"package: bot":
  - packages/bot/**/*.ts

"package: locales":
  - packages/locales/**/*.ts

"package: logger":
  - packages/logger/**/*.ts

"package: prisma":
  - packages/prisma/**/*.ts

"package: webserver":
  - packages/webserver/**/*.ts

"meta: apis":
  - packages/bot/src/lib/apis/**/*.ts

"meta: dependencies":
  - packages/**/package.json
  - package.json
  - yarn.lock

"meta: database":
  - packages/prisma/providers/**
  - packages/bot/**/Database*.ts

"meta: github":
  - .github/**/*

"meta: tasks":
  - packages/bot/src/lib/tasks/*.ts

"meta: localization":
  - packages/locales/assets/**
