Repository davipatricio/DenkyBot, changes with the labels that .github/labeler.yml gives for each.
All labels: package: bot, package: locales, package: logger, package: prisma, package: webserver, meta: apis, meta: dependencies, meta: database, meta: github, meta: tasks, meta: localization

chore: update yarn.lock
  yarn.lock
Labels: meta: dependencies

chore: remove `--immutable` from yarn
  .github/workflows/test.yml
Labels: meta: github

feat(bot): auto role (#183)
  packages/bot/src/commands/Configuration/config.ts
  packages/bot/src/commands/Configuration/data/config.ts
  packages/bot/src/commands/Configuration/subcommands/_config_autorole.ts
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/bot/src/events/guildMemberAdd.ts
  packages/bot/src/lib/managers/DatabaseManager.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
  packages/prisma/providers/cockroachdb/migrations/20220904155044_auto_roles/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220904154940_auto_roles/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, package: locales, meta: database, meta: localization

refactor: use `discord-verify` instead of `tweetnacl`
  packages/webserver/package.json
  packages/webserver/src/index.ts
  yarn.lock
Labels: package: webserver, meta: dependencies

chore: pass `--no-immutable` to action
  .github/workflows/test.yml
Labels: meta: github

refactor: use `discord-verify` instead of `tweetnacl` (#194)
  .github/workflows/test.yml
  packages/webserver/package.json
  packages/webserver/src/index.ts
  yarn.lock
Labels: package: webserver, meta: dependencies, meta: github

add schema model
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

add base command
  packages/bot/src/commands/Configuration/config.ts
  packages/bot/src/commands/Configuration/data/config.ts
  packages/bot/src/commands/Configuration/subcommands/_config_reports.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

chore: change license to AGPL-3.0
  LICENSE
Labels: none

chore: update maintainers
  .github/FUNDING.yml
  .github/auto_assign.yml
  package.json
  packages/bot/package.json
  packages/locales/package.json
  packages/logger/package.json
  packages/prisma/package.json
  packages/webserver/package.json
Labels: meta: dependencies, meta: github

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Labels: meta: github

.github/labeler.yml:

"package: bot":
  - packages/bot/**/*.ts

"package: locales":
  - packages/locales/**/*.ts

"package: logger":
  - packages/logger/**/*.ts

"package: prisma":
  - packages/prisma/**/*.ts

"package: webserver":
  - packages/webserver/**/*.ts

"meta: apis":
  - packages/bot/src/lib/apis/**/*.ts

"meta: dependencies":
  - packages/**/package.json
  - package.json
  - yarn.lock

"meta: database":
  - packages/prisma/providers/**
  - packages/bot/**/Database*.ts

"meta: github":
  - .github/**/*

"meta: tasks":
  - packages/bot/src/lib/tasks/*.ts

"meta: localization":
  - packages/locales/assets/**
