Repository davipatricio/DenkyBot, changes with the labels that .github/labeler.yml gives for each.
All labels: package: bot, package: locales, package: logger, package: prisma, package: webserver, meta: apis, meta: dependencies, meta: database, meta: github, meta: tasks, meta: localization

.github/labeler.yml:

"package: bot":
  - packages/bot/**/*.ts

"package: locales":
  - packages/locales/**/*.ts

"package: logger":
  - packages/logger/**/*.ts

"package: prisma":
  - packages/prisma/**/*.ts

"package: webserver":
  - packages/webserver/**/*.ts

"meta: apis":
  - packages/bot/src/lib/apis/**/*.ts

"meta: dependencies":
  - packages/**/package.json
  - package.json
  - yarn.lock

"meta: database":
  - packages/prisma/providers/**
  - packages/bot/**/Database*.ts

"meta: github":
  - .github/**/*

"meta: tasks":
  - packages/bot/src/lib/tasks/*.ts

"meta: localization":
  - packages/locales/assets/**

feat: add autocomplete handler on commands (#113)
  packages/bot/src/events/interactionCreate.ts
  packages/bot/src/structures/Command.ts
Labels: package: bot

fix imports
  packages/bot/src/commands/Moderation/_ban_info.ts
  packages/bot/src/commands/Moderation/_ban_user.ts
Labels: package: bot

refactor(bot): cleanup
  .eslintrc.json
  packages/bot/src/commands/Configuration/_config_suggestions.ts
  packages/bot/src/commands/Information/_server_banner.ts
  packages/bot/src/commands/Information/_server_icon.ts
  packages/bot/src/commands/Information/_server_info.ts
  packages/bot/src/commands/Moderation/ban.ts
  packages/bot/src/commands/Moderation/kick.ts
  packages/bot/src/commands/Moderation/mute.ts
  packages/bot/src/commands/Utils/afk.ts
  packages/bot/src/commands/Utils/suggestion.ts
  packages/bot/src/helpers/Poster.ts
Labels: package: bot

feat: add autocomplete in ban info sub command
  packages/bot/src/commands/Moderation/_ban_info.ts
  packages/bot/src/commands/Moderation/_ban_user.ts
  packages/bot/src/commands/Moderation/ban.ts
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(bot): improve giveaway end message
  packages/bot/src/helpers/Giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

refactor(bot): improve locales
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: locales, meta: localization

feat(bot): improve CommandStructure types
  packages/bot/src/commands/Information/_bot_invite.ts
  packages/bot/src/structures/Command.ts
Labels: package: bot

refactor(bot): add function to check single giveaway
  packages/bot/src/helpers/Giveaway.ts
Labels: package: bot

cleanup
  packages/bot/src/commands/Moderation/_ban_info.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

fix(bot): fix grammar
  packages/bot/src/helpers/Giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(bot): add `fetchGiveaway` method
  packages/bot/src/lib/managers/DatabaseManager.ts
Labels: package: bot, meta: database

feat(bot): add `/giveway end`
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(bot): localize giveaway end
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

add ban remove data structure
  packages/bot/src/commands/Moderation/data/ban.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(bot): add giveaway reroll
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/helpers/Giveaway.ts
Labels: package: bot

feat(bot): localize reroll
  packages/bot/src/helpers/Giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat: giveaway command (#108)
  packages/bot/package.json
  packages/bot/src/commands/Moderation/ban.ts
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/bot/src/events/interactionCreate.ts
  packages/bot/src/helpers/Giveaway.ts
  packages/bot/src/helpers/Timestamp.ts
  packages/bot/src/lib/managers/DatabaseManager.ts
  packages/bot/src/lib/tasks/giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220714103110_giveaways/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
  yarn.lock
Labels: package: bot, package: locales, meta: dependencies, meta: database, meta: tasks, meta: localization

fix(bot): localize `giveaway end` id option
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

refactor: use stable version of discord.js
  package.json
  yarn.lock
Labels: meta: dependencies

fix: action issues
  yarn.lock
Labels: meta: dependencies

fix issues
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: locales, meta: localization

feat(bot): add base data to lockdown command
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(prisma): add lockdown model & migrations
  packages/prisma/providers/cockroachdb/migrations/20220717211030_lockdown/migration.sql
  packages/prisma/providers/cockroachdb/migrations/migration_lock.toml
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220717211016_lockdown/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

feat(prisma): use bigints in AFK model
  packages/prisma/providers/cockroachdb/migrations/20220717211423_afk_bigints/migration.sql
  packages/prisma/providers/cockroachdb/migrations/migration_lock.toml
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220717211357_afk_bigints/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

feat(prisma): add lockdown model & migrations
  packages/prisma/providers/cockroachdb/migrations/20220717211030_lockdown/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220717211016_lockdown/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

feat(bot): add base data to lockdown command
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(bot): add lockdown methods
  packages/bot/src/lib/managers/DatabaseManager.ts
Labels: package: bot, meta: database

feat(bot): base of enable and disable
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot

types(bot): fix types
  packages/bot/src/commands/Utils/afk.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(bot): add base data to lockdown command
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(bot): add lockdown methods
  packages/bot/src/lib/managers/DatabaseManager.ts
Labels: package: bot, meta: database

feat(bot): base of enable and disable
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot

feat(prisma): add lockdown model & migrations
  packages/prisma/providers/cockroachdb/migrations/20220717211030_lockdown/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220717211016_lockdown/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

fix(bot): remove large description
  packages/bot/src/commands/Moderation/data/lockdown.ts
Labels: package: bot

fix(bot): remove member count check
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot

fix(bot): remaining time not showing
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot

feat(bot): add lockdown enable code
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot

feat(bot): unlockdown, cleanup
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot

refactor(lockdown): improve lockdown cooldown
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot

refactor(bot): use path alias
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot
