Repository davipatricio/DenkyBot, changes with the labels that .github/labeler.yml gives for each.
All labels: package: bot, package: locales, package: logger, package: prisma, package: webserver, meta: apis, meta: dependencies, meta: database, meta: github, meta: tasks, meta: localization

add checks & add reaction role creation code
  packages/bot/src/commands/Moderation/reactionrole.ts
Labels: package: bot

add prisma migrations
  packages/prisma/providers/cockroachdb/migrations/20220823214754_reaction_roles/migration.sql
  packages/prisma/providers/postgresql/migrations/20220823214610_reaction_roles/migration.sql
Labels: meta: database

types(bot): add types to event names
  packages/bot/src/structures/Event.ts
Labels: package: bot

store guild ids
  packages/prisma/providers/cockroachdb/migrations/20220823214754_reaction_roles/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220823214610_reaction_roles/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

prisma: add missing role id
  packages/prisma/providers/cockroachdb/migrations/20220826004909_reaction_roles/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220826004821_reaction_role/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

add events
  packages/bot/src/events/messageReactionAdd.ts
  packages/bot/src/events/messageReactionRemove.ts
Labels: package: bot

add reaction intent
  packages/bot/src/Denky.ts
Labels: package: bot

add missing fields
  packages/bot/src/commands/Moderation/reactionrole.ts
Labels: package: bot

create command data
  packages/bot/src/commands/Moderation/data/reactionrole.ts
Labels: package: bot

cleanup
  packages/bot/src/commands/Moderation/reactionrole.ts
  packages/bot/src/events/messageReactionAdd.ts
  packages/bot/src/events/messageReactionRemove.ts
Labels: package: bot

localize command
  packages/bot/src/commands/Moderation/reactionrole.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

update permissions
  packages/bot/src/commands/Moderation/reactionrole.ts
Labels: package: bot

localize command
  packages/bot/src/commands/Moderation/data/reactionrole.ts
  packages/bot/src/commands/Moderation/reactionrole.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

add punctuation into locales
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

delete reaction role when its message gets deleted
  packages/bot/src/events/messageDelete.ts
Labels: package: bot

delete reaction roles when bot is removed
  packages/bot/src/events/guildDelete.ts
Labels: package: bot

fix command names
  packages/bot/src/commands/Moderation/data/reactionrole.ts
  packages/bot/src/commands/Moderation/reactionrole.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(bot): reaction roles (#176)
  packages/bot/src/Denky.ts
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/bot/src/commands/Moderation/data/reactionrole.ts
  packages/bot/src/commands/Moderation/reactionrole.ts
  packages/bot/src/events/guildDelete.ts
  packages/bot/src/events/messageDelete.ts
  packages/bot/src/events/messageReactionAdd.ts
  packages/bot/src/events/messageReactionRemove.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
  packages/prisma/providers/cockroachdb/migrations/20220826004909_reaction_roles/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220826004821_reaction_role/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, package: locales, meta: database, meta: localization

types(bot): fix types
  packages/bot/src/lib/utils/Initializer.ts
Labels: package: bot

refactor(bot): cleanup
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/bot/src/commands/Moderation/reactionrole.ts
  packages/bot/src/events/messageDelete.ts
  packages/bot/src/events/messageReactionAdd.ts
  packages/bot/src/events/messageReactionRemove.ts
  packages/bot/src/lib/managers/DatabaseManager.ts
Labels: package: bot, meta: database

chore(prisma): add production scripts
  packages/prisma/package.json
Labels: meta: dependencies

add base subcommand
  packages/bot/src/commands/Configuration/config.ts
  packages/bot/src/commands/Configuration/subcommands/_config_autorole.ts
Labels: package: bot

add prisma models
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

add subcommand data
  packages/bot/src/commands/Configuration/data/config.ts
Labels: package: bot

add more code
  packages/bot/src/commands/Configuration/subcommands/_config_autorole.ts
Labels: package: bot

add useful methods to database manager
  packages/bot/src/lib/managers/DatabaseManager.ts
Labels: package: bot, meta: database

update command data
  packages/bot/src/commands/Configuration/data/config.ts
Labels: package: bot

fix button role
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

add enable autoroles
  packages/bot/src/commands/Configuration/subcommands/_config_autorole.ts
Labels: package: bot

localize & add disable method
  packages/bot/src/commands/Configuration/subcommands/_config_autorole.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

add event
  packages/bot/src/events/guildMemberAdd.ts
Labels: package: bot

partial data localization
  packages/bot/src/commands/Configuration/data/config.ts
  packages/bot/src/commands/Configuration/subcommands/_config_autorole.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

simplify autorole
  packages/bot/src/commands/Configuration/subcommands/_config_autorole.ts
Labels: package: bot

localize descriptions
  packages/bot/src/commands/Configuration/data/config.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

localize choices
  packages/bot/src/commands/Configuration/data/config.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

catch rejections
  packages/bot/src/events/guildMemberAdd.ts
Labels: package: bot

add migrations
  packages/prisma/providers/cockroachdb/migrations/20220904155044_auto_roles/migration.sql
  packages/prisma/providers/postgresql/migrations/20220904154940_auto_roles/migration.sql
Labels: meta: database

chore: make prisma a dev dependency
  package.json
  packages/prisma/package.json
  yarn.lock
Labels: meta: dependencies

chore(bot): remove `zlib-sync` & `erlpack`
  packages/bot/package.json
  yarn.lock
Labels: meta: dependencies

refactor(bot): remove uuid
  packages/bot/package.json
  packages/bot/src/commands/Utils/subcommands/_remind_create.ts
  packages/bot/src/helpers/IdGenerator.ts
  packages/bot/src/lib/managers/DatabaseManager.ts
  packages/prisma/providers/cockroachdb/migrations/20220904161836_use_uuids_reminders/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220904161759_use_uuids_reminders/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
  yarn.lock
Labels: package: bot, meta: dependencies, meta: database

.github/labeler.yml:

"package: bot":
  - packages/bot/**/*.ts

"package: locales":
  - packages/locales/**/*.ts

"package: logger":
  - packages/logger/**/*.ts

"package: prisma":
  - packages/prisma/**/*.ts

"package: webserver":
  - packages/webserver/**/*.ts

"meta: apis":
  - packages/bot/src/lib/apis/**/*.ts

"meta: dependencies":
  - packages/**/package.json
  - package.json
  - yarn.lock

"meta: database":
  - packages/prisma/providers/**
  - packages/bot/**/Database*.ts

"meta: github":
  - .github/**/*

"meta: tasks":
  - packages/bot/src/lib/tasks/*.ts

"meta: localization":
  - packages/locales/assets/**
