Repository davipatricio/DenkyBot, changes with the labels that .github/labeler.yml gives for each.
All labels: package: bot, package: locales, package: logger, package: prisma, package: webserver, meta: apis, meta: dependencies, meta: database, meta: github, meta: tasks, meta: localization

.github/labeler.yml:

"package: bot":
  - packages/bot/**/*.ts

"package: locales":
  - packages/locales/**/*.ts

"package: logger":
  - packages/logger/**/*.ts

"package: prisma":
  - packages/prisma/**/*.ts

"package: webserver":
  - packages/webserver/**/*.ts

"meta: apis":
  - packages/bot/src/lib/apis/**/*.ts

"meta: dependencies":
  - packages/**/package.json
  - package.json
  - yarn.lock

"meta: database":
  - packages/prisma/providers/**
  - packages/bot/**/Database*.ts

"meta: github":
  - .github/**/*

"meta: tasks":
  - packages/bot/src/lib/tasks/*.ts

"meta: localization":
  - packages/locales/assets/**

format
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

add methods to handle button roles
  packages/bot/src/events/interactionCreate.ts
  packages/bot/src/helpers/ButtonRole.ts
Labels: package: bot

handle other action types
  packages/bot/src/helpers/ButtonRole.ts
Labels: package: bot

support dynamic emojis
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

improve success message
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

move pre-condition check
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

lint
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

delete old button roles
  packages/bot/src/events/messageDelete.ts
Labels: package: bot

store button role guild ids
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220818230248_buttonrole_store_guildid/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, meta: database

add cockroachdb migrations
  packages/prisma/providers/cockroachdb/migrations/20220818230431_buttonroles/migration.sql
Labels: meta: database

localize command
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

localize helper
  packages/bot/src/helpers/ButtonRole.ts
  packages/bot/src/helpers/Giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

localize entire command data
  packages/bot/src/commands/Moderation/data/buttonrole.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

feat(bot): button roles (#172)
  .eslintrc.json
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/bot/src/commands/Moderation/data/buttonrole.ts
  packages/bot/src/events/interactionCreate.ts
  packages/bot/src/events/messageDelete.ts
  packages/bot/src/helpers/ButtonRole.ts
  packages/bot/src/helpers/Giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
  packages/prisma/providers/cockroachdb/migrations/20220818230431_buttonroles/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220818221224_buttonroles/migration.sql
  packages/prisma/providers/postgresql/migrations/20220818230248_buttonrole_store_guildid/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, package: locales, meta: database, meta: localization

fix(bot): localize color option
  packages/bot/src/commands/Moderation/data/buttonrole.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

fix(bot): button role option names
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

feat(bot): delete giveaway when its message is deleted
  packages/bot/src/events/messageDelete.ts
Labels: package: bot

feat(bot): store giveaway guild id
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/prisma/providers/cockroachdb/migrations/20220819005936_store_giveaways_guildid/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220819005909_store_giveaways_guildid/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, meta: database

feat(bot): delete guild data when bot is removed
  packages/bot/src/events/guildDelete.ts
  packages/bot/src/events/messageDelete.ts
Labels: package: bot

feat(bot): make `/user` useable in DMs
  packages/bot/src/commands/Information/data/user.ts
  packages/bot/src/commands/Information/subcommands/_user_avatar.ts
Labels: package: bot

refactor(bot): remove unnecessary `setRequired(false)`
  packages/bot/src/commands/Information/data/user.ts
Labels: package: bot

refactor(bot): improve error messages
  packages/bot/src/commands/Information/subcommands/_user_avatar.ts
  packages/bot/src/commands/Information/subcommands/_user_banner.ts
  packages/bot/src/commands/Information/subcommands/_user_info.ts
Labels: package: bot

fix(bot): add missing check for lockdown
  packages/bot/src/commands/Moderation/lockdown.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

fix(bot): missing unlockdown message
  packages/bot/src/commands/Moderation/lockdown.ts
Labels: package: bot

fix(bot): improve message consistency
  packages/bot/src/commands/Information/subcommands/_user_banner.ts
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

fix(bot): buttonrole not getting button label
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

chore(prisma): add migrations
  packages/prisma/providers/cockroachdb/migrations/20220819234214_giveaway_requireroles/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220819234050_giveaway_requireroles/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

make required role optional
  packages/prisma/providers/cockroachdb/migrations/20220820015906_required_role_opt/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220820015535_required_role_opt/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database

add locales & store required role
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

chore(bot): update domains
  packages/bot/config.example.json
Labels: none

add check & locales
  packages/bot/src/helpers/Giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

localize option
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

add missing role id
  packages/bot/src/helpers/Giveaway.ts
Labels: package: bot

feat(bot): add option to choose required role (#175)
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/giveaway.ts
  packages/bot/src/helpers/Giveaway.ts
  packages/locales/assets/command/en_US/index.ts
  packages/locales/assets/command/pt_BR/index.ts
  packages/locales/assets/commandDescriptions/en_US/index.ts
  packages/locales/assets/commandDescriptions/pt_BR/index.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
  packages/prisma/providers/cockroachdb/migrations/20220819234214_giveaway_requireroles/migration.sql
  packages/prisma/providers/cockroachdb/migrations/20220820015906_required_role_opt/migration.sql
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/migrations/20220819234050_giveaway_requireroles/migration.sql
  packages/prisma/providers/postgresql/migrations/20220820015535_required_role_opt/migration.sql
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, package: locales, meta: database, meta: localization

fix(bot): catch rejections in `getReminder`
  packages/bot/src/lib/managers/DatabaseManager.ts
Labels: package: bot, meta: database

fix(bot): remove unused eslint-disable
  packages/bot/src/commands/Moderation/buttonrole.ts
Labels: package: bot

feat(bot): remove unnecessary types
  packages/bot/src/commands/Utils/subcommands/_afk_on.ts
  packages/bot/src/lib/managers/DatabaseManager.ts
Labels: package: bot, meta: database

refactor(bot): improve command name consistency
  packages/bot/src/commands/Moderation/buttonrole.ts
  packages/bot/src/commands/Moderation/data/buttonrole.ts
  packages/bot/src/commands/Moderation/data/giveaway.ts
  packages/bot/src/commands/Moderation/data/lockdown.ts
  packages/bot/src/commands/Moderation/data/poll.ts
  packages/bot/src/commands/Utils/data/remind.ts
  packages/locales/assets/commandNames/en_US/index.ts
  packages/locales/assets/commandNames/pt_BR/index.ts
Labels: package: bot, package: locales, meta: localization

add model & base code
  packages/bot/src/commands/Moderation/reactionrole.ts
  packages/prisma/providers/postgresql/schema.prisma
Labels: package: bot, meta: database

update models
  packages/prisma/providers/cockroachdb/schema.prisma
  packages/prisma/providers/mongodb/schema.prisma
  packages/prisma/providers/postgresql/schema.prisma
Labels: meta: database
